.card-override {
    height: unset !important;
}

.carText {
    font-family: 'Montserrat';
    font-size: 1.2em;
}

.btn {
    white-space: normal;
    word-wrap: break-word;
}

#yodaBttnText {
    font-family: 'Montserrat' !important;
}

#yodafiedIconContainer {
    height: 50px;
    width: 50px;
    position: relative;
    left: 0;
}

#deleteQuestionBttn {
    background-color: none;
    border-color: none;
    border-style: none;
}

#yodaIconContainer {
    width: 15%;
    height: 100%;
    min-height: 50px;
    min-width: 100px;
}

#yodaIconBttn, #yodafiedCard {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

#errorMessage, #userQuestionInputError, #userAnswersInputError, #questionTypeError {
    color: rgb(212, 6, 6) !important;
}

.card-border {
    border-style: solid;
    border-width: .1rem;
    border-radius: .25rem;
    border-color: lightgray;
}

.override-cardContainer {
    border-style: none;
    border-width: 0px;
    border-radius: 0px;
}

#header-text {
    color: rgb(73, 73, 73);
    font-family: 'Montserrat';
    font-size: 2.0em;
    margin: auto;
}

body {
    background: #fafafa;
}

a, a:hover, a:focus {
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
    perspective: 1500px;
}


#sidebar {
    min-width: 300px;
    max-width: 300px;
    background: #7386D5;
    color: #fff;
    transition: all 0.6s cubic-bezier(0.945, 0.020, 0.270, 0.665);
    transform-origin: bottom left;
}

#sidebar.active {
    margin-left: -250px;
    transform: rotateY(100deg);
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #6d7fcc;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: black;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}


a[data-toggle="collapse"] {
    position: relative;
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

#sidebarCollapse {
    width: 40px;
    height: 40px;
    background: #f5f5f5;
    cursor: pointer;
}

#sidebarCollapse span {
    width: 80%;
    height: 2px;
    margin: 0 auto;
    display: block;
    background: #555;
    transition: all 0.8s cubic-bezier(0.810, -0.330, 0.345, 1.375);
    transition-delay: 0.2s;
}

#sidebarCollapse span:first-of-type {
    transform: rotate(45deg) translate(2px, 2px);
}
#sidebarCollapse span:nth-of-type(2) {
    opacity: 0;
}
#sidebarCollapse span:last-of-type {
    transform: rotate(-45deg) translate(1px, -1px);
}


#sidebarCollapse.active span {
    transform: none;
    opacity: 1;
    margin: 5px auto;
}

/* ---------------------------------------------------
    CARD STYLE
----------------------------------------------------- */
hr{
    border: 1px solid #dddddd;
}
.card{
    margin-bottom: 0.5rem;
    background-color: unset;
    transition: all 0.5s ease-out 0s;
}
.btn{
    margin: 5px;
    width: auto;
}
.front{
    padding: 0.5rem;
    background-image: url(../Images/640x960-aero-blue-solid-color-background.jpg);
}
.back{
    padding: 0.5rem;
    background-image: url(../Images/640x960-aero-blue-solid-color-background.jpg);

}
.card-body {
    padding: 0.5rem;
}
/* ---------------------------------------------------
    CAROUSEL STYLE
----------------------------------------------------- */

#myCarousel img{

    height: 500 px !important;

}




/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
        transform: rotateY(90deg);
    }
    #sidebar.active {
        margin-left: 0;
        transform: none;
    }
    #sidebarCollapse span:first-of-type,
    #sidebarCollapse span:nth-of-type(2),
    #sidebarCollapse span:last-of-type {
        transform: none;
        opacity: 1;
        margin: 5px auto;
    }
    #sidebarCollapse.active span {
        margin: 0 auto;
    }
    #sidebarCollapse.active span:first-of-type {
        transform: rotate(45deg) translate(2px, 2px);
    }
    #sidebarCollapse.active span:nth-of-type(2) {
        opacity: 0;
    }
    #sidebarCollapse.active span:last-of-type {
        transform: rotate(-45deg) translate(1px, -1px);
    }

}

/* History page */

.questionContainer {
    border-radius: 10px;
    width:80%;
    margin: 0 auto;
    margin-top: 20px;
    background-color: rgb(109, 124, 109);
    padding: 30px;

}

.foundation-5-top-bar {
    box-shadow: 1rem;
    background: #333;
    color: #fefefe;
  }